#
# IMPORTANT: Copy this file to the name "username-aliases.txt" to use this
#            feature. This is a template file only. 
#
# This file may be used to define a list of username aliases.  An alias is a
# way of mapping a username in one format to a name in another.  It is useful
# in the following situations:
#
#   * Providing a way for users to log into the system with a username
#     formatted in a different way.
#
#   * Used as a temporary tool to manage domain or username format changes. For
#     example, you may have changed names from j.smith to john.smith.  An
#     alias can help by allowing forgetful users to log in with their old name.
#
# Name aliases are applied at the following levels:
#   
#   * User login to the web interface
#   
#   * Print jobs arriving under the alias name.
#
# The format of the alias file is as follows:
#
#   aliasname1: username1
#   aliasnameA: username2
#   aliasnameB: username2
#
# meaning <aliasname> maps to <username> in the system database.  A user
# may have multiple aliases.  In this example, username2 is known as both
# aliasnameA and aliasnameB.
#
# The aliasname and the username may be separated by either,  = (equals), 
# : (semicolon), or TAB (a tab-delimited file).
# 
#
# END COMMENT: Add aliases to end of this file below.
